# OmniWM Master Gitignore

# Build artifacts
.build/
Zig/omniwm_kernels/.zig-cache/
Zig/omniwm_kernels/zig-out/

# Binary Databases (The stalling culprits)
*.mdb
*.lock
*.db
.DS_Store


# Large build/dependency folders
.build/
.swiftpm/
node_modules/
.idea/

# Binaries/Caches
*.o
*.a
*.dylib
*.framework

# Only keep the heart of the configs if we are in homedir (but this is a project repo)
# If this is the omniwm repo, we don't want to exclude everything!
# If you want to only track specific config files, do it in the home dir repo.
